.leaveN {
    border: 5px solid rgb(82, 183, 241);
    border-right: none;
    padding: 10px;
}

.leaveR {
    border: 5px solid rgb(150, 150, 150);
    border-right: none;
    padding: 10px;
}

.approve1 {
    border: 5px solid rgb(122, 243, 106);
    border-right: none;
    padding: 10px;
}

.approve0 {
    border: 5px solid rgb(228, 96, 96);
    border-right: none;
    padding: 10px;
}

.rollcall-in {
    border: 5px solid rgb(60, 116, 46);
    border-right: none;
    padding: 10px;
}
.rollcall-in-l {
    border: 5px solid rgb(247, 159, 45);
    border-right: none;
    padding: 10px;
}

.rollcall-out {
    border: 5px solid rgb(0, 0, 0);
    border-right: none;
    padding: 10px;
}

.approve0-in {
    border: 5px solid rgb(228, 96, 96);
    padding: 10px;
}

.approve1-in {
    border: 5px solid rgb(122, 243, 106);
    padding: 10px;
}

.text-date {
    font-family: 'K2D', sans-serif;
    font-family: 'Pridi', serif;
    font-size: 12px;
}